@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Hiragino Mincho Pro',serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: radial-gradient(#fff, #ffc778 40%, #f13f79);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../image/back.jpg") center center no-repeat;
  background-image: url("../image/back.jpg");
  background-size: cover;
}

header {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

header .logo1 {
  mix-blend-mode: multiply;
  width: 10%;
  position: absolute;
  top: 50%;
  left: 34%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .logo2 {
  mix-blend-mode: multiply;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .tai-flag {
  width: 25%;
  background-color: white;
}

header .japan-flag {
  width: 25%;
  background-color: white;
}

#messenger {
  overflow: hidden;
  position: absolute;
  position: fixed;
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0px;
  bottom: 220px;
  z-index: 100;
  border: white 1px solid;
  border-radius: 20px;
}

#messenger a::before {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 50px;
  height: 100px;
  /* Button height */
  line-height: 70px;
  /* Button height */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  width: 100px;
  /* Button width */
  padding-top: 5px;
}

#messenger a[href*="m.me"]::before {
  background-color: #0e44f7;
  content: "\f39f";
}

#messenger::after {
  content: "Messenger";
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: white 1px solid;
  position: fixed;
  right: 0px;
  bottom: 90px;
  background: #d1022f;
  border-radius: 20px;
  z-index: 100;
}

#page_top a {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  text-decoration: none;
}

#page_top a::before {
  content: "";
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 20px;
  height: 10px;
  top: -50px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 0px;
  border-style: solid;
  border-width: 15px;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}

#page_top a::after {
  content: "Top";
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 55px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.cmn-section.-black {
  background-color: black;
}

.cmn-title {
  text-align: center;
}

.cmn-title .main {
  display: block;
  font-size: 32px;
  color: white;
}

.cmn-title .sub {
  display: block;
  color: white;
  font-size: 20px;
  margin-top: 34px;
  text-transform: capitalize;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

@media print, screen and (min-width: 768px) {
  .cmn-title .sub {
    margin-top: 50px;
  }
}

.cmn-title .sub.-faq {
  text-transform: uppercase;
}

.cmn-link a {
  color: #fff;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 135px;
  height: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-size: 14px;
}

footer {
  background-color: black;
  border-top: 1px solid #ffffff2d;
  height: 40px;
  padding-bottom: 70px;
}

@media print, screen and (min-width: 768px) {
  footer {
    height: 70px;
    padding-bottom: 40px;
  }
}

footer .footer-nav a {
  font-size: 16px;
  padding: 0 10px;
  color: white;
}

@media print, screen and (min-width: 768px) {
  footer .footer-nav a {
    font-size: 25px;
  }
}

footer .footer-box p {
  font-size: 20px;
}

footer .copyright p {
  font-size: 14px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

@media print, screen and (min-width: 768px) {
  footer .copyright p {
    font-size: 18px;
  }
}

footer .follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}

footer .follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}

footer .follow-me li a::before {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 36px;
  height: 64px;
  /* Button height */
  line-height: 64px;
  /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 64px;
  /* Button width */
}

footer .follow-me li a:hover::before {
  opacity: 0.7;
}

footer .follow-me li a[href*="dropbox.com"]::before {
  background-color: #007ee5;
  content: "\f16b";
}

footer .follow-me li a[href*="facebook.com"]::before {
  background-color: #3b5998;
  content: "\f09a";
}

footer .follow-me li a[href*="line"]::before {
  background-color: #00c300;
  content: "\f3c0";
}

footer .follow-me li a[href*="twitter.com"]::before {
  background-color: #55acee;
  content: "\f099";
}

footer .follow-me li a[href*="youtube.com"]::before {
  background-color: #cd201f;
  content: "\f16a";
}

footer .follow-me li a[href*="tiktok"]::before {
  background-color: #ffa500;
  content: "\e07b";
}

#area1 {
  margin-top: 50px;
}

#area1 .area1-wrapper {
  max-width: 760px;
}

@media print, screen and (min-width: 768px) {
  #area1 .area1-wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}

#area1 .introduce-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1300px;
}

#area1 .introduce-content .area1-list {
  position: relative;
}

#area1 .introduce-content .area1-list p {
  position: absolute;
  z-index: 5;
  color: red;
  font-weight: bold;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#area1 h2 {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 130px;
  border-top: 3px solid red;
}

#area1 h2:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 210px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: red;
}

#area1 h2 span {
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  display: block;
  padding-top: 0px;
  padding-left: 16px;
  color: white;
}

#area1 .area1-image1 {
  width: 100%;
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

#area1 .area1-image2 {
  width: 300px;
  position: absolute;
  left: 45%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  z-index: 4;
  -webkit-box-shadow: 1px 3px 20px 10px #f7f77d, inset 10px 3px 20px 10px #f7f77d;
          box-shadow: 1px 3px 20px 10px #f7f77d, inset 10px 3px 20px 10px #f7f77d;
}

#area1 .area1-image3 {
  width: 280px;
  position: absolute;
  left: 45%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-box-shadow: 1px 3px 20px 10px #f7f77d, inset 10px 3px 20px 10px #f7f77d;
          box-shadow: 1px 3px 20px 10px #f7f77d, inset 10px 3px 20px 10px #f7f77d;
}

#area1 .intro-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  text-align: left;
  width: 800px;
  padding: 5px 0px;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 20px;
}

#area1 .intro-text .GB1 {
  font-size: 2rem;
  color: #8cc63f;
}

#area1 .intro-text .GB2 {
  font-size: 2rem;
  color: #8cc63f;
}

#area1 .intro-text .GB3 {
  font-size: 2rem;
  color: #63bdde;
}

#area1 .intro-text .GB4 {
  font-size: 2rem;
  color: #f0aa4c;
}

#area1 .intro-text .GB5 {
  font-size: 2rem;
  color: #f0aa4c;
}

#area1 .intro-text .GB6 {
  font-size: 2rem;
  color: #8cc63f;
}

#area1 .intro-text .GB7 {
  font-size: 2rem;
  color: #63bdde;
}

#area1 .intro-text .GB8 {
  font-size: 2rem;
  color: #f0aa4c;
}

#area1 .intro-text .price {
  color: #E43E5A;
  font-weight: 900;
  font-size: 2.5rem;
}

#area1 .area1-side {
  margin-left: 50px;
}

#area1 .area1-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#area1 .shop-wrapper {
  position: relative;
}

#area1 .shop-in {
  position: relative;
  margin-bottom: 60px;
  border-radius: 30px;
}

#area1 .shop-in::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10;
  top: 0px;
  right: 0px;
  border-width: 0 50px 50px 0;
  border-color: transparent #c20909 transparent transparent;
}

#area1 .shop-in::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10;
  bottom: 10px;
  left: 0px;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #c20909;
}

#area1 .shop-in .shop-image {
  position: relative;
  width: 20vw;
  padding: 10px 10px;
  border-radius: 30px;
}

#area1 .customer-wrapper {
  position: relative;
}

#area1 .customer {
  position: relative;
  border-radius: 30px;
}

#area1 .customer::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10;
  top: -10px;
  right: 0px;
  border-width: 0 50px 50px 0;
  border-color: transparent #c20909 transparent transparent;
}

#area1 .customer::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10;
  bottom: -10px;
  left: 0px;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #c20909;
}

#area1 .customer .customer1 {
  width: 25vw;
  height: 35vh;
}

#area1 .slick-list {
  margin: 0 auto;
  width: 20vw;
  border-radius: 30px;
}

#area1 .fukidashi1 {
  width: 250px;
  height: 80px;
  top: -30px;
  left: -30px;
  position: absolute;
  z-index: 11;
}

#area1 .shop-text {
  top: -15px;
  left: 5px;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  z-index: 11;
}

#area1 .fukidashi2 {
  width: 250px;
  height: 80px;
  top: -50px;
  left: -30px;
  position: absolute;
  z-index: 11;
}

#area1 .customer-text {
  top: -35px;
  left: 5px;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  z-index: 11;
}

#area1 .balloon1 {
  position: relative;
  display: inline-block;
  margin-top: 5rem;
  padding: 7px 10px;
  width: 100%;
  max-width: 1300px;
  color: #555;
  font-size: 2.5rem;
  font-weight: bold;
  background: yellow;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
}

#area1 .balloon1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid yellow;
}

#area1 .balloon1 p {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 450px;
}

#area1 .balloon1 .text-line {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(238, 135, 117, 0.952)));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(238, 135, 117, 0.952) 70%);
}

#area1 .follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#area1 .follow-me li {
  margin: 0 8px 8px 0;
  padding: 0;
}

#area1 .follow-me li a::before {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 50px;
  height: 50px;
  /* Button height */
  line-height: 44px;
  /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 70px;
  /* Button width */
  padding-top: 5px;
}

#area1 .follow-me li a:hover::before {
  opacity: 0.7;
}

#area1 .follow-me li a[href*="dropbox.com"]::before {
  background-color: #007ee5;
  content: "\f16b";
}

#area1 .follow-me li a[href*="facebook.com"]::before {
  background-color: #3b5998;
  content: "\f09a";
}

#area1 .follow-me li a[href*="line"]::before {
  background-color: #00c300;
  content: "\f3c0";
}

#area1 .follow-me li a[href*="twitter.com"]::before {
  background-color: #55acee;
  content: "\f099";
}

#area1 .follow-me li a[href*="youtube.com"]::before {
  background-color: #cd201f;
  content: "\f16a";
}

#area1 .follow-me li a[href*="tiktok"]::before {
  background-color: #ffa500;
  content: "\e07b";
}

#area1 .follow-me li a[href*="tel"]::before {
  background-color: #e73508;
  content: "\f098";
}

#area1 .tel-btn {
  position: relative;
  display: block;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #e73508;
  padding: 15px 0;
  margin: auto;
  width: 100%;
  font-size: 28px;
  border: 1px white solid;
}

@media print, screen and (min-width: 768px) {
  #area1 .tel-btn {
    font-size: 33px;
    width: 40vw;
  }
}

#area1 .tel-btn::before {
  content: "";
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 15px;
}

#area1 .line-btn {
  position: relative;
  display: block;
  border-radius: 50px;
  color: white;
  text-align: center;
  background: #00c300;
  padding: 10px 0;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  font-size: 33px;
  border: 1px white solid;
}

@media print, screen and (min-width: 768px) {
  #area1 .line-btn {
    padding: 15px 0;
    font-size: 33px;
    width: 40vw;
  }
}

#area1 .line-btn span {
  font-weight: bold;
}

#area1 .line-btn::before {
  content: "";
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 15px;
}

#area2 {
  margin-top: 100px;
  list-style: inherit;
}

#area2 .area2-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

#area2 .heading1 {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 40px;
  border-radius: 30px;
  background-color: #ec0a0a;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#area2 .heading1 span {
  position: relative;
  z-index: 2;
  top: -16px;
  color: white;
  font-weight: bold;
}

#area2 .heading1::before {
  content: attr(data-en);
  position: absolute;
  top: -40px;
  left: 50px;
  color: rgba(255, 255, 255, 0.521);
  font-size: 70px;
  text-transform: uppercase;
  z-index: 1;
  font-style: italic;
}

#area2 .list_design1 {
  list-style: none;
  counter-reset: list;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.548);
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
}

#area2 .list_design1 li {
  position: relative;
  padding: 1rem 1rem;
  margin: 1rem;
  padding-left: 63px;
  line-height: 30px;
  border-bottom: 2px dotted red;
  color: #333;
  font-size: 30px;
  margin-bottom: 30px;
}

#area2 .list_design1 li:before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: 0px;
  width: 50px;
  height: 62px;
  text-align: center;
  color: #fff;
  line-height: 60px;
  background: red;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#area2 .list_design1 li:after {
  content: "";
  display: block;
  position: absolute;
  left: 50px;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid red;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#area2 .area2-upper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

#area2 .area2-wifi1 {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
}

#area2 .area2-wifi1 img {
  margin-top: 80px;
  display: block;
  max-width: 450px;
  height: auto;
  z-index: 4;
}

#area2 .mokumoku {
  position: absolute;
  top: -10%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 300px;
  height: 120px;
}

#area2 .point {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  top: 0%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

#area2 .point::before {
  font-family: "Font Awesome 5 Free";
  content: '\f521';
  padding: 5px;
  font-weight: 900;
  color: #FFDC00;
}

#area2 .wifi-customer {
  position: absolute;
  top: 110%;
  left: 78%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 200px;
  -webkit-box-shadow: 10px 10px 0 #c3a400;
          box-shadow: 10px 10px 0 #c3a400;
}

#area2 .fukidashi1 {
  width: 250px;
  height: 80px;
  top: 120%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 11;
}

#area2 .customer-text {
  top: 120%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  z-index: 11;
}

#area2 .circle {
  position: absolute;
  top: 70%;
  left: 76%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: 0.375em 0.375em 0 0 #f7f77d;
          box-shadow: 0.375em 0.375em 0 0 #f7f77d;
  height: 15em;
  width: 34em;
}

#area2 .wifi-text {
  position: absolute;
  width: 150px;
  top: 90%;
  left: 76%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #e40808;
  text-align: center;
  font-size: 2.4rem;
  font-style: italic;
  letter-spacing: .1em;
  color: #fff;
  text-shadow: -3px 2px 0 #000;
}

#area2 .area2-textarea {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #ea551c;
  border-radius: 30px;
  width: 800px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.548);
}

#area2 .area2-textarea .area2-textarea-title {
  position: absolute;
  display: inline-block;
  top: -40px;
  left: 10px;
  padding: 0 9px;
  height: 40px;
  line-height: 45px;
  font-size: 40px;
  background: #ea551c;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

#area2 .area2-textarea p {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#area3 {
  margin-top: 100px;
  list-style: inherit;
}

#area3 .area3-upper, #area3 .area3-lower {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

#area3 .area3-lower {
  margin-top: 40px;
}

#area3 .heading2 {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 40px;
  border-radius: 30px;
  background-color: #ec0a0a;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#area3 .heading2 span {
  position: relative;
  z-index: 2;
  top: -16px;
  color: white;
  font-weight: bold;
}

#area3 .heading2::before {
  content: attr(data-en);
  position: absolute;
  top: -40px;
  left: 60px;
  color: rgba(255, 255, 255, 0.521);
  font-size: 70px;
  text-transform: uppercase;
  z-index: 1;
  font-style: italic;
}

#area3 h3 {
  color: black;
  font-size: 25px;
  border-left: solid 8px orange;
  /*左側の線*/
  background: whitesmoke;
  /*背景色*/
  margin-bottom: 5px;
  /*下のバーとの余白*/
  margin-top: 25px;
  margin-left: 30px;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;
  /*右側の角だけ丸く*/
  padding: 0.5em;
  width: 50%;
  list-style-type: none !important;
}

#area3 .area3-textarea {
  position: relative;
  margin: 2em 0;
  margin-top: 50px;
  margin-left: 30px;
  padding: 0.5em 1em;
  border: solid 3px #ea551c;
  border-radius: 30px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.548);
}

#area3 .area3-textarea .area3-textarea-title {
  position: absolute;
  display: inline-block;
  top: -40px;
  left: 10px;
  padding: 0 9px;
  height: 40px;
  line-height: 45px;
  font-size: 40px;
  background: #ea551c;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

#area3 .area3-textarea p {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#area3 .mokumoku1 {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 300px;
  height: 120px;
}

#area3 .mokumoku2 {
  position: absolute;
  z-index: 2;
  top: -20%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 300px;
  height: 120px;
}

#area3 .recommend1 {
  position: absolute;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  top: 20%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

#area3 .recommend1::before {
  font-family: "Font Awesome 5 Free";
  content: '\f521';
  padding: 5px;
  font-weight: 900;
  color: #FFDC00;
}

#area3 .area3-image1 {
  width: 300px;
  position: absolute;
  top: 60%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

#area3 .area3-image2 {
  width: 300px;
  position: absolute;
  top: 40%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

#area3 .circle1, #area3 .circle2 {
  position: absolute;
  top: 70%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: 0.375em 0.375em 0 0 #f7f77d;
          box-shadow: 0.375em 0.375em 0 0 #f7f77d;
  height: 15em;
  width: 24em;
}

#area3 .circle2 {
  top: 55%;
}

#area3 .sim-text1, #area3 .sim-text2 {
  position: absolute;
  width: 150px;
  top: 80%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #e40808;
  text-align: center;
  font-size: 2.4rem;
  font-style: italic;
  letter-spacing: .1em;
  color: #fff;
  text-shadow: -3px 2px 0 #000;
}

#area3 .sim-text2 {
  top: 70%;
}

#area3 .recommend2 {
  position: absolute;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  top: -5%;
  left: 43%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

#area3 .recommend2::before {
  font-family: "Font Awesome 5 Free";
  content: '\f521';
  padding: 5px;
  font-weight: 900;
  color: #FFDC00;
}

#area3 .border1 {
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
  border-bottom: 1px dashed red;
}

#area4 {
  margin-top: 100px;
  list-style: inherit;
  /* Add Icons */
  /* Social media links: youtube  */
  /* Social media links: LINE  */
  /* Social media links: facebook  */
  /* Social media links: tiktok  */
}

#area4 .area4-upper {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  #area4 .area4-upper {
    max-width: 1300px;
  }
}

#area4 .heading3 {
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 40px;
  border-radius: 30px;
  background-color: #ec0a0a;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

@media print, screen and (min-width: 768px) {
  #area4 .heading3 {
    padding-top: 30px;
    padding-left: 20px;
    max-width: 1300px;
  }
}

#area4 .heading3 span {
  position: relative;
  z-index: 2;
  top: -16px;
  color: white;
  font-weight: bold;
}

#area4 .heading3::before {
  content: attr(data-en);
  position: absolute;
  top: -30px;
  left: 70px;
  color: rgba(255, 255, 255, 0.521);
  font-size: 50px;
  text-transform: uppercase;
  z-index: 1;
  font-style: italic;
}

@media print, screen and (min-width: 768px) {
  #area4 .heading3::before {
    font-size: 70px;
    top: -40px;
    left: 60px;
  }
}

#area4 h3 {
  color: black;
  font-size: 25px;
  border-left: solid 8px orange;
  /*左側の線*/
  background: whitesmoke;
  /*背景色*/
  margin-bottom: 5px;
  /*下のバーとの余白*/
  margin-left: 10px;
  margin-top: 5px;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;
  /*右側の角だけ丸く*/
  padding: 0.5em;
  width: 50%;
  list-style-type: none !important;
}

@media print, screen and (min-width: 768px) {
  #area4 h3 {
    margin-left: 30px;
    margin-top: 25px;
  }
}

#area4 .area4-textarea {
  position: relative;
  margin: 2em 0;
  margin-top: 50px;
  margin-left: 30px;
  padding: 0.5em 1em;
  border: solid 3px #ea551c;
  border-radius: 30px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.548);
}

#area4 .area4-textarea .area4-textarea-title {
  position: absolute;
  display: inline-block;
  top: -40px;
  left: 10px;
  padding: 0 9px;
  height: 40px;
  line-height: 45px;
  font-size: 40px;
  background: #ea551c;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

#area4 .area4-textarea p {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#area4 .mokumoku3 {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 350px;
  height: 120px;
}

#area4 .recommend3 {
  position: absolute;
  z-index: 2;
  font-size: 25px;
  font-weight: bold;
  top: 20%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

#area4 .recommend3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f521";
  padding: 5px;
  font-weight: 900;
  color: #ffdc00;
}

#area4 .area3-image1 {
  width: 300px;
  position: absolute;
  top: 60%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

#area4 .circle3 {
  position: absolute;
  top: 70%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: 0.375em 0.375em 0 0 #f7f77d;
          box-shadow: 0.375em 0.375em 0 0 #f7f77d;
  height: 15em;
  width: 24em;
}

#area4 .sim-text3 {
  position: absolute;
  width: 150px;
  top: 80%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  background-color: #e40808;
  text-align: center;
  font-size: 2.4rem;
  font-style: italic;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: -3px 2px 0 #000;
}

#area4 .area4-lower {
  margin-top: 100px;
  position: relative;
  max-width: 760px;
  margin: 0 auto;
  /* LINE TEL */
}

@media print, screen and (min-width: 768px) {
  #area4 .area4-lower {
    max-width: 1300px;
  }
}

#area4 .area4-lower .frame {
  display: inline-block;
  position: relative;
  left: 35%;
  width: 300px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

@media print, screen and (min-width: 768px) {
  #area4 .area4-lower .frame {
    left: 30%;
    width: 600px;
  }
}

#area4 .area4-lower h2 {
  position: absolute;
  width: 800px;
  top: 30%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-style: italic;
  color: #fff;
  text-shadow: -3px 2px 0 #000;
}

@media print, screen and (min-width: 768px) {
  #area4 .area4-lower h2 {
    letter-spacing: 0.1em;
    width: 800px;
    left: 65%;
    font-size: 3.8rem;
  }
}

#area4 .area4-lower .follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#area4 .area4-lower .follow-me li {
  margin: 0 8px 8px 0;
  padding: 0;
}

#area4 .area4-lower .follow-me li a::before {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 50px;
  height: 50px;
  /* Button height */
  line-height: 44px;
  /* Button height */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  width: 70px;
  /* Button width */
  padding-top: 5px;
}

#area4 .area4-lower .follow-me li a:hover::before {
  opacity: 0.7;
}

#area4 .area4-lower .follow-me li a[href*="facebook.com"]::before {
  background-color: #3b5998;
  content: "\f09a";
}

#area4 .area4-lower .follow-me li a[href*="line"]::before {
  background-color: #00c300;
  content: "\f3c0";
}

#area4 .area4-lower .follow-me li a[href*="youtube.com"]::before {
  background-color: #cd201f;
  content: "\f16a";
}

#area4 .area4-lower .follow-me li a[href*="tiktok"]::before {
  background-color: #ffa500;
  content: "\e07b";
}

#area4 .area4-lower .follow-me li a[href*="tel"]::before {
  background-color: #e73508;
  content: "\f098";
}

#area4 .area4-lower .tel-btn {
  position: relative;
  display: block;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #e73508;
  padding: 15px 0;
  margin: auto;
  width: 100%;
  font-size: 28px;
  border: 1px white solid;
}

@media print, screen and (min-width: 768px) {
  #area4 .area4-lower .tel-btn {
    font-size: 33px;
    width: 40vw;
  }
}

#area4 .area4-lower .tel-btn::before {
  content: "";
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 15px;
}

#area4 .area4-lower .line-btn {
  position: relative;
  display: block;
  border-radius: 50px;
  color: white;
  text-align: center;
  background: #00c300;
  padding: 10px 0;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  font-size: 33px;
  border: 1px white solid;
}

@media print, screen and (min-width: 768px) {
  #area4 .area4-lower .line-btn {
    padding: 15px 0;
    font-size: 33px;
    width: 40vw;
  }
}

#area4 .area4-lower .line-btn span {
  font-weight: bold;
}

#area4 .area4-lower .line-btn::before {
  content: "";
  background-size: contain;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 15px;
}

#area4 .container-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#area4 * {
  margin: 0;
  padding: 0;
  border: 0;
}

#area4 body {
  background-color: #222;
  font-family: arial, helvetica, sans-serif;
}

@font-face {
  #area4 {
    font-family: "Genericons";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot") format("truetype");
  }
}

#area4 .container {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1300px;
}

#area4 header h1 {
  color: #fff;
  margin-bottom: 18px;
  font-weight: bold;
  text-align: left;
}

#area4 .accordion {
  position: absolute;
  width: 1200px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 100px;
  font-size: 0;
  z-index: 100;
}

#area4 .tab {
  display: inline-block;
  background-color: #444;
  border: white solid 2px;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

@media print, screen and (min-width: 768px) {
  #area4 .tab {
    width: 90px;
    height: 90px;
  }
}

@media print, screen and (min-width: 768px) {
  #area4 .tab:hover {
    width: 450px;
  }
}

#area4 .tab:hover .social a:before {
  margin-left: -100px;
}

#area4 .tab:hover .social a:after {
  margin-left: 0px;
}

#area4 .tab .content {
  background-color: #fff;
  width: 360px;
  height: 100px;
  margin-left: 100px;
  position: relative;
  padding: 0 0 0 15px;
}

#area4 .tab .content h1 {
  font-size: 2.5rem;
}

#area4 .tab .content p {
  font-size: 0.85rem;
  line-height: 1.9rem;
  padding-right: 30px;
}

#area4 .social a:before,
#area4 .social a:after {
  -webkit-transition: all 0.4s ease-in-out 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
  width: 100px;
  height: 100px;
  position: absolute;
  text-indent: 0;
  padding-top: 10px;
  padding-left: 15px;
  display: block;
  font: normal 42px Genericons;
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  #area4 .social a:before,
  #area4 .social a:after {
    font: normal 50px Genericons;
    padding-top: 18px;
    padding-left: 20px;
  }
}

#area4 .social a:after {
  font-size: 50px;
  padding-left: 9px;
  padding-top: 9px;
  margin-left: 85px;
}

@media print, screen and (min-width: 768px) {
  #area4 .social a:after {
    font-size: 60px;
    padding-left: 20px;
    padding-top: 12px;
  }
}

#area4 .youtube a::before {
  font-family: FontAwesome;
}

#area4 .youtube a[href*="youtube.com"]::before {
  background-color: #cd201f;
  content: "\f16a";
}

#area4 .youtube a::after {
  font-family: FontAwesome;
}

#area4 .youtube a[href*="youtube.com"]::after {
  background-color: #cd201f;
  content: "\f16a";
}

#area4 .line a::before {
  font-family: FontAwesome;
}

#area4 .line a[href*="line"]::before {
  background-color: #00c300;
  content: "\f3c0";
}

#area4 .line a::after {
  font-family: FontAwesome;
}

#area4 .line a[href*="line"]::after {
  background-color: #00c300;
  content: "\f3c0";
}

#area4 .facebook a::before {
  font-family: FontAwesome;
}

#area4 .facebook a[href*="facebook.com"]::before {
  background-color: #3b5998;
  content: "\f09a";
}

#area4 .facebook a::after {
  font-family: FontAwesome;
}

#area4 .facebook a[href*="facebook.com"]::after {
  background-color: #3b5998;
  content: "\f09a";
}

#area4 .tiktok a::before {
  font-family: FontAwesome;
}

#area4 .tiktok a[href*="tiktok.com"]::before {
  background-color: #ffa500;
  content: "\e07b";
}

#area4 .tiktok a::after {
  font-family: FontAwesome;
}

#area4 .tiktok a[href*="tiktok.com"]::after {
  background-color: #ffa500;
  content: "\e07b";
}

#area4 .footer-area {
  position: relative;
  bottom: 15px;
  left: 77%;
  padding-bottom: 20px;
}

@media print, screen and (min-width: 768px) {
  #area4 .footer-area {
    left: 35%;
    padding-bottom: 50px;
  }
}

#area4 .footer-logo {
  width: 25%;
  mix-blend-mode: multiply;
}

@media print, screen and (min-width: 768px) {
  #area4 .footer-logo {
    width: 10%;
  }
}
/*# sourceMappingURL=style.css.map */