#area4 {
  margin-top: 100px;
  list-style: inherit;
  .area4-upper {
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    @include overTab {
      max-width: 1300px;
    }
  }

  .heading3 {
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 40px;
    border-radius: 30px;
    background-color: rgb(236, 10, 10);
    border: 1px solid rgba(255, 255, 255, 0.4);
    @include overTab {
      padding-top: 30px;
      padding-left: 20px;
      max-width: 1300px;
    }
  }
  .heading3 span {
    position: relative;
    z-index: 2;
    top: -16px;
    color: white;
    font-weight: bold;
  }
  .heading3::before {
    content: attr(data-en);
    position: absolute;
    top: -30px;
    left: 70px;
    color: rgba(255, 255, 255, 0.521);
    font-size: 50px;
    text-transform: uppercase;
    z-index: 1;
    font-style: italic;
    @include overTab {
      font-size: 70px;
      top: -40px;
      left: 60px;
    }
  }

  h3 {
    color: black;
    font-size: 25px;
    border-left: solid 8px orange; /*左側の線*/
    background: whitesmoke; /*背景色*/
    margin-bottom: 5px; /*下のバーとの余白*/
    margin-left: 10px;
    margin-top: 5px;
    line-height: 1.5;
    border-radius: 0 15px 15px 0; /*右側の角だけ丸く*/
    padding: 0.5em;
    width: 50%;
    list-style-type: none !important;
    @include overTab {
      margin-left: 30px;
      margin-top: 25px;
    }
  }
  .area4-textarea {
    position: relative;
    margin: 2em 0;
    margin-top: 50px;
    margin-left: 30px;
    padding: 0.5em 1em;
    border: solid 3px #ea551c;
    border-radius: 30px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.548);
    .area4-textarea-title {
      position: absolute;
      display: inline-block;
      top: -40px;
      left: 10px;
      padding: 0 9px;
      height: 40px;
      line-height: 45px;
      font-size: 40px;
      background: #ea551c;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    p {
      font-size: 22px;
      margin: 0;
      padding: 0;
    }
  }

  .mokumoku3 {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: rotate(15deg);
    width: 350px;
    height: 120px;
  }
  .recommend3 {
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    top: 20%;
    left: 42%;
    transform: translate(-50%, -50%);
    transform: rotate(18deg);
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f521";
      padding: 5px;
      font-weight: 900;
      color: #ffdc00;
    }
  }
  .area3-image1 {
    width: 300px;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  .circle3 {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgb(247, 247, 125);
    height: 15em;
    width: 24em;
  }
  .sim-text3 {
    position: absolute;
    width: 150px;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgb(228, 8, 8);
    text-align: center;
    font-size: 2.4rem;
    font-style: italic;
    letter-spacing: 0.1em;
    color: #fff;
    text-shadow: -3px 2px 0 #000;
  }

  .area4-lower {
    margin-top: 100px;
    position: relative;
    max-width: 760px;
    margin: 0 auto;
    @include overTab {
      max-width: 1300px;
    }
    .frame {
      display: inline-block;
      position: relative;
      left: 35%;
      width: 300px;
      transform: translate(-50%, 0%);
      @include overTab {
        left: 30%;
        width: 600px;
      }
    }
    h2 {
      position: absolute;
      width: 800px;
      top: 30%;
      left: 110%;
      transform: translate(-50%, -50%);
      font-size: 2.2rem;
      font-style: italic;
      color: #fff;
      text-shadow: -3px 2px 0 #000;
      @include overTab {
        letter-spacing: 0.1em;
        width: 800px;
        left: 65%;
        font-size: 3.8rem;
      }
    }
    .line {
      // background-image: linear-gradient(
      //   rgba(0, 0, 0, 0) 70%,
      //   rgba(252, 221, 81, 0.952) 70%
      // );
    }

    /* LINE TEL */
    .follow-me {
      list-style: none;
      margin: 0 0 -8px;
      overflow: hidden;
      padding: 0;
      justify-content: center;
      margin-top: 50px;
    }
    .follow-me li {
      // float: left;
      margin: 0 8px 8px 0;
      padding: 0;
    }
    .follow-me li a::before {
      -webkit-border-radius: 2px;
      border-radius: 2px;
      color: #fff;
      display: inline-block;
      font-family: FontAwesome;
      font-size: 50px;
      height: 50px; /* Button height */
      line-height: 44px; /* Button height */
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      text-align: center;
      width: 70px; /* Button width */
      padding-top: 5px;
    }
    .follow-me li a:hover::before {
      opacity: 0.7;
    }
    .follow-me li a[href*="facebook.com"]::before {
      background-color: #3b5998;
      content: "\f09a";
    }
    .follow-me li a[href*="line"]::before {
      background-color: #00c300;
      content: "\f3c0";
    }
    .follow-me li a[href*="youtube.com"]::before {
      background-color: #cd201f;
      content: "\f16a";
    }
    .follow-me li a[href*="tiktok"]::before {
      background-color: #ffa500;
      content: "\e07b";
    }
    .follow-me li a[href*="tel"]::before {
      background-color: #e73508;
      content: "\f098";
    }

    .tel-btn {
      position: relative;
      display: block;
      border-radius: 50px;
      color: white;
      font-weight: bold;
      text-align: center;
      background: #e73508;
      padding: 15px 0;
      margin: auto;
      width: 100%;
      font-size: 28px;
      border: 1px white solid;
      @include overTab {
        font-size: 33px;
        width: 40vw;
      }
      &::before {
        content: "";
        background-size: contain;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        left: 15px;
      }
    }
    .line-btn {
      position: relative;
      display: block;
      border-radius: 50px;
      color: white;
      text-align: center;
      background: #00c300;
      padding: 10px 0;
      margin: auto;
      margin-bottom: 20px;
      width: 100%;
      font-size: 33px;
      border: 1px white solid;
      @include overTab {
        padding: 15px 0;
        font-size: 33px;
        width: 40vw;
      }
      span {
        font-weight: bold;
      }
      &::before {
        content: "";
        background-size: contain;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        left: 15px;
      }
    }
  }
  .container-area {
    display: flex;
    // justify-content:space-between;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
  }
  body {
    background-color: #222;
    font-family: arial, helvetica, sans-serif;
  }
  @font-face {
    font-family: "Genericons";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff")
        format("woff"),
      url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot")
        format("truetype");
  }

  .container {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1300px;
  }
  header h1 {
    color: #fff;
    margin-bottom: 18px;
    font-weight: bold;
    text-align: left;
  }
  .accordion {
    position: absolute;
    width: 1200px;
    // min-width: 800px;
    display: block;
    list-style-type: none;
    overflow: hidden;
    height: 100px;
    font-size: 0;
    z-index: 100;
  }
  .tab {
    display: inline-block;
    background-color: #444;
    border: white solid 2px;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    margin: 0;
    margin-right: 10px;
    transition: all 0.5s ease-in-out 0.1s;
    @include overTab {
      width: 90px;
      height: 90px;
    }
  }
  .tab:hover {
    @include overTab {
    width: 450px;
    }
  }
  .tab:hover .social a:before {
    margin-left: -100px;
  }
  .tab:hover .social a:after {
    margin-left: 0px;
  }
  .tab .content {
    background-color: #fff;
    width: 360px;
    height: 100px;
    margin-left: 100px;
    position: relative;
    padding: 0 0 0 15px;
  }
  .tab .content h1 {
    font-size: 2.5rem;
  }
  .tab .content p {
    font-size: 0.85rem;
    line-height: 1.9rem;
    padding-right: 30px;
  }
  .social a:before,
  .social a:after {
    transition: all 0.4s ease-in-out 0.1s;
    width: 100px;
    height: 100px;
    position: absolute;
    text-indent: 0;
    padding-top: 10px;
    padding-left: 15px;
    display: block;
    font: normal 42px Genericons;
    color: #fff;
    @include overTab {
      font: normal 50px Genericons;
      padding-top: 18px;
      padding-left: 20px;
    }
  }
  .social a:after {
    font-size: 50px;
    padding-left: 9px;
    padding-top: 9px;
    margin-left: 85px;
    @include overTab {
      font-size: 60px;
      padding-left: 20px;
      padding-top: 12px;
    }
  }
  /* Add Icons */
  /* Social media links: youtube  */
  .youtube a::before {
    font-family: FontAwesome;
  }
  .youtube a[href*="youtube.com"]::before {
    background-color: #cd201f;
    content: "\f16a";
  }
  .youtube a::after {
    font-family: FontAwesome;
  }
  .youtube a[href*="youtube.com"]::after {
    background-color: #cd201f;
    content: "\f16a";
  }

  /* Social media links: LINE  */
  .line a::before {
    font-family: FontAwesome;
  }
  .line a[href*="line"]::before {
    background-color: #00c300;
    content: "\f3c0";
  }
  .line a::after {
    font-family: FontAwesome;
  }
  .line a[href*="line"]::after {
    background-color: #00c300;
    content: "\f3c0";
  }
  /* Social media links: facebook  */
  .facebook a::before {
    font-family: FontAwesome;
  }
  .facebook a[href*="facebook.com"]::before {
    background-color: #3b5998;
    content: "\f09a";
  }
  .facebook a::after {
    font-family: FontAwesome;
  }
  .facebook a[href*="facebook.com"]::after {
    background-color: #3b5998;
    content: "\f09a";
  }
  /* Social media links: tiktok  */
  .tiktok a::before {
    font-family: FontAwesome;
  }
  .tiktok a[href*="tiktok.com"]::before {
    background-color: #ffa500;
    content: "\e07b";
  }
  .tiktok a::after {
    font-family: FontAwesome;
  }
  .tiktok a[href*="tiktok.com"]::after {
    background-color: #ffa500;
    content: "\e07b";
  }

  .footer-area {
    position: relative;
    bottom: 15px;
    left: 77%;
    padding-bottom: 20px;
    @include overTab {
      left: 35%;
      padding-bottom: 50px;
    }
  }
  .footer-logo {
    width: 25%;
    mix-blend-mode: multiply;
    @include overTab {
      width: 10%;
    }
  }
}
