#area3{
  margin-top: 100px;
  list-style: inherit;
  .area3-upper, .area3-lower{
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
  }
  .area3-lower{
    margin-top: 40px;
  }

  .heading2 {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 40px;
    border-radius: 30px;
    background-color: rgb(236, 10, 10);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  .heading2 span {
    position: relative;
    z-index: 2;
    top: -16px;
    color: white;
    font-weight: bold;
  }
  .heading2::before {
    content: attr(data-en);
    position: absolute;
    top: -40px;
    left: 60px;
    color: rgba(255, 255, 255, 0.521);
    font-size: 70px;
    text-transform: uppercase;
    z-index: 1;
	  font-style: italic;
  }

  h3 {
    color: black;
    font-size: 25px;
    border-left: solid 8px orange;/*左側の線*/
    background: whitesmoke;/*背景色*/
    margin-bottom: 5px;/*下のバーとの余白*/
    margin-top: 25px;
    margin-left: 30px;
    line-height: 1.5;
    border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
    padding: 0.5em;
    width: 50%;
    list-style-type: none!important;
  }
  .area3-textarea{
    position: relative;
    margin: 2em 0;
    margin-top: 50px;
    margin-left: 30px;
    padding: 0.5em 1em;
    border: solid 3px #ea551c;
    border-radius: 30px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.548);
    .area3-textarea-title{
      position: absolute;
      display: inline-block;
      top: -40px;
      left: 10px;
      padding: 0 9px;
      height: 40px;
      line-height: 45px;
      font-size: 40px;
      background: #ea551c;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    p{
      font-size: 22px;
      margin: 0; 
      padding: 0;
    }
  }
  .mokumoku1{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform:rotate(15deg);
    width: 300px;
    height: 120px;
  }
  .mokumoku2{
    position: absolute;
    z-index: 2;
    top: -20%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform:rotate(15deg);
    width: 300px;
    height: 120px;
  }
  .recommend1{
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    top: 20%;
    left: 42%;
    transform: translate(-50%, -50%);
    transform:rotate(18deg);
    &::before{
      font-family: "Font Awesome 5 Free";
      content:'\f521';
      padding:5px;
      font-weight:900;
      color:#FFDC00;
    }
  }
  .area3-image1{
    width: 300px;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  .area3-image2{
    width: 300px;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  .circle1, .circle2 {
    position: absolute;
    top: 70%;
    left:80%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgb(247, 247, 125);
    height: 15em;
    width: 24em;
  }
  .circle2{
    top: 55%;
  }
  .sim-text1, .sim-text2{
    position: absolute;
    width: 150px;
    top: 80%;
    left:80%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color:rgb(228, 8, 8) ;
    text-align: center;
    font-size: 2.4rem; 
    font-style: italic; 
    letter-spacing: .1em; 
    color: #fff; 
    text-shadow: -3px 2px 0 #000; 
  }
  .sim-text2{
    top: 70%;
  }
  .recommend2{
    position: absolute;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    top: -5%;
    left: 43%;
    transform: translate(-50%, -50%);
    transform:rotate(18deg);
    &::before{
      font-family: "Font Awesome 5 Free";
      content:'\f521';
      padding:5px;
      font-weight:900;
      color:#FFDC00;
    }
  }
  .border1{
    margin: 0 auto;
    width: 90%;
    max-width: 1300px;
    border-bottom: 1px dashed red;
  }

}