#area2{
  margin-top: 130px;
  list-style: inherit;
  .area2-wrapper{
    max-width: 1300px;
    margin: 0 auto;
  }

  .heading1 {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 40px;
    border-radius: 30px;
    background-color: rgb(236, 10, 10);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  .heading1 span {
    position: relative;
    z-index: 2;
    top: -16px;
    color: white;
    font-weight: bold;
  }
  .heading1::before {
    content: attr(data-en);
    position: absolute;
    top: -40px;
    left: 50px;
    color: rgba(255, 255, 255, 0.521);
    font-size: 70px;
    text-transform: uppercase;
    z-index: 1;
	  font-style: italic;
  }

  
  .list_design1 {
    list-style: none;
    counter-reset: list;
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.548);
    box-shadow: 2px 2px 4px gray;
  }
  .list_design1 li {
    position: relative;
    padding: 1rem 1rem;
    margin: 1rem;
    padding-left: 63px;
    line-height: 30px;
    border-bottom: 2px dotted red;
    color: #333;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .list_design1 li:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: 0px;
    width: 50px;
    height: 62px;
    text-align: center;
    color: #fff;
    line-height: 60px;
    background: red;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .list_design1 li:after {
    content: "";
    display: block;
    position: absolute;
    left: 50px;
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid red;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .area2-upper{
    position: relative;
    display: flex;
    margin-bottom: 40px;
  }
  .area2-wifi1 {
    display: grid;
    // place-items: ;
    margin: 0 auto;
    // height: 100vh;
    img{
      margin-top: 30px;
      display: block;
      max-width: 300px;
      height: auto;
    }
  }
  .mokumoku{
    position: absolute;
    top: -10%;
    left: 45%;
    transform: translate(-50%, -50%);
    transform:rotate(15deg);
    width: 300px;
    height: 120px;
  }
  .point{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 0%;
    left: 47%;
    transform: translate(-50%, -50%);
    transform:rotate(18deg);
    &::before{
      font-family: "Font Awesome 5 Free";
      content:'\f521';
      padding:5px;
      font-weight:900;
      color:#FFDC00;
    }
  }
  .wifi-customer{
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    transform:rotate(15deg);
    width: 180px;
  }


  .area2-textarea{
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #ea551c;
    // width: auto;
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.548);
    .area2-textarea-title{
      position: absolute;
      display: inline-block;
      top: -40px;
      left: -3px;
      padding: 0 9px;
      height: 40px;
      line-height: 45px;
      font-size: 40px;
      background: #ea551c;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    p{
      font-size: 30px;
      margin: 0; 
      padding: 0;
    }
  }

}
 