#area2 {
  margin-top: 100px;
  list-style: inherit;
  .area2-wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
  .heading1 {
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    border-radius: 30px;
    background-color: rgb(236, 10, 10);
    border: 1px solid rgba(255, 255, 255, 0.4);
    @include overTab {
      font-size: 40px;
      padding-top: 30px;
      padding-left: 20px;
      max-width: 1300px;
    }
  }
  .heading1 span {
    position: relative;
    z-index: 2;
    top: -16px;
    color: white;
    font-weight: bold;
  }
  .heading-text {
    visibility: hidden;
    @include overTab {
    }
  }
  .heading1::before {
    content: attr(data-en);
    position: absolute;
    top: -30px;
    left: 60px;
    color: rgba(255, 255, 255, 0.521);
    font-size: 50px;
    text-transform: uppercase;
    z-index: 1;
    font-style: italic;
    @include overTab {
      font-size: 70px;
      top: -40px;
      left: 60px;
    }
  }

  .list_design1 {
    list-style: none;
    counter-reset: list;
    display: inline-block;
    padding: 10px 8px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.548);
    box-shadow: 2px 2px 4px gray;
    margin-right: 5px;
    margin-left: 5px;
    @include overTab {
      padding: 1rem 1rem;
      margin: 1rem;
    }
  }
  .list_design1 li {
    position: relative;
    padding: 10px 20px;
    padding-left: 63px;
    line-height: 30px;
    border-bottom: 2px dotted red;
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
    @include overTab {
      font-size: 30px;
      margin-bottom: 30px;
      padding: 1rem 1rem;
      margin: 1rem;
      padding-left: 60px;
    }
  }
  .list_design1 li:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: 0px;
    width: 50px;
    height: 62px;
    text-align: center;
    color: #fff;
    line-height: 60px;
    background: red;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .list_design1 li:after {
    content: "";
    display: block;
    position: absolute;
    left: 50px;
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid red;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .area2-upper {
    position: relative;
    margin-bottom: 40px;
  }
  .area2-wifi1 {
    display: grid;
    margin: 0 auto;
    img {
      position: absolute;
      margin-top: 80px;
      display: block;
      width: 250px;
      height: auto;
      z-index: 4;
      top: 220%;
      left: 45%;
      transform: translate(-50%, -50%);
      @include overTab {
        width: 400px;
        top: 30%;
        left: 82%;
      }
    }
    .kira1 {
      width: 120px;
      position: absolute;
      top: 196%;
      left: 20%;
      transform: translate(-50%, -50%);
      z-index: 5;
      @include overTab {
        width: 300px;
        top: -5%;
        left: 80%;
      }
    }
    .kira2 {
      width: 180px;
      position: absolute;
      top: 198%;
      left: 55%;
      transform: translate(-50%, -50%);
      z-index: 5;
      @include overTab {
        width: 300px;
        top: 0%;
        left: 80%;
      }
    }
    .kira3 {
      width: 140px;
      position: absolute;
      top: 210%;
      left: 55%;
      transform: translate(-50%, -50%);
      transform: rotate(90deg);
      z-index: 5;
      @include overTab {
        width: 200px;
        top: 10%;
        left: 88%;
      }
    }
    .kira4 {
      width: 200px;
      position: absolute;
      top: 20%;
      left: 82%;
      transform: translate(-50%, -50%);
      transform: rotate(90deg);
      z-index: 5;
      @include overTab {
        width: 200px;
        top: 20%;
        left: 89%;
      }
    }
  }
  .mokumoku {
    position: absolute;
    top: -12%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: rotate(15deg);
    width: 150px;
    height: 60px;
    @include overTab {
      top: -20%;
      left: 45%;
      width: 300px;
      height: 120px;
    }
  }
  .point {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: -5%;
    left: 62%;
    transform: translate(-50%, -50%);
    transform: rotate(18deg);
    z-index: 6;
    @include overTab {
      font-size: 25px;
      top: -9%;
      left: 47%;
    }
    &::before {
      font-family: "Font Awesome 5 Free";
      content: "\f521";
      padding: 5px;
      font-weight: 900;
      color: #ffdc00;
    }
  }
  .wifi-customer {
    position: absolute;
    top: 280%;
    left: 65%;
    transform: translate(-50%, -50%);
    transform: rotate(15deg);
    width: 100px;
    box-shadow: 10px 10px 0 #c3a400;
    z-index: 10;
    @include overTab {
      width: 200px;
      top: 120%;
      left: 78%;
      transform: rotate(15deg);
    }
  }
  .fukidashi1 {
    width: 120px;
    height: 50px;
    top: 285%;
    left: 66%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 11;
    @include overTab {
      width: 300px;
      height: 80px;
      top: 120%;
      left: 80%;
    }
  }
  .customer-text {
    top: 285%;
    left: 66%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    z-index: 11;
    @include overTab {
      font-size: 30px;
      top: 120%;
      left: 80%;
    }
  }
  .circle {
    position: absolute;
    top: 265%;
    left: 46%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgb(247, 247, 125);
    height: 11em;
    width: 20em;
    @include overTab {
      height: 13em;
      width: 30em;
      top: 70%;
      left:81%;
      transform: translate(-50%, -50%);
    }
  }
  .wifi-text {
    position: absolute;
    width: 320px;
    top: 270%;
    left: 45%;
    padding: 5px 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgb(228, 8, 8);
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    letter-spacing: 0.1em;
    color: #fff;
    text-shadow: -3px 2px 0 #000;
    @include overTab {
      width: 350px;
      top: 85%;
      left: 82%;
      transform: translate(-50%, -50%);
    }
  }
  .area2-textarea {
    position: relative;
    margin: 3em 0;
    padding: 0.5em 1em;
    border: solid 3px #ea551c;
    border-radius: 30px;
    // width: auto;
    width: 85%;
    margin-left: 10px;
    margin-bottom: 400px;
    background-color: rgba(255, 255, 255, 0.548);
    @include overTab {
      width: 800px;
      margin-bottom: inherit;
    }
    .area2-textarea-title {
      position: absolute;
      display: inline-block;
      top: -40px;
      left: 10px;
      padding: 0 9px;
      height: 40px;
      line-height: 45px;
      font-size: 30px;
      background: #ea551c;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
      @include overTab {
        font-size: 40px;
      }
    }
    #emoji4:before {
      content: "\01F91D";
      padding-right: 3px;
    }
    .text-display {
      display: none;
      @include overTab {
        display: block;
      }
    }
    p {
      font-size: 22px;
      margin: 0;
      padding: 0;
      @include overTab {
        font-size: 30px;
      }
    }
  }
  .video {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0px;
    position: relative;
    margin-bottom: 100px;
    @include overTab {
      margin-bottom: inherit;
    }
  }
  .video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    @include overTab {
      width: 80%;
      height: 80%;
    }
  }
}
