#area1{
  margin-top: 50px;
  .area1-wrapper{
    max-width: 760px;
    @include overTab {
    max-width: 1300px;
    margin: 0 auto;
    }
  }
  .introduce-content{
    display: flex;
    // justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 30px;
    background-color:rgba(255,255,255,0.5);
    margin-right: 5px;
    margin-left: 5px;
    @include overTab {
      margin-right:inherit;
      margin-left: inherit;
      max-width: 1300px;
    }
    .area1-list{
      position: relative;
      p{
        position: absolute;
        z-index: 5;
        color:red;
        font-weight: bold;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include overTab {
          font-size: 3rem;
        }
      }
    }
  }

  h2 { 
    position: relative; 
    overflow: hidden; 
    padding: 1.5rem 2rem 1.5rem 130px; 
    border-top: 3px solid red; 
  } 

  h2:before { 
    position: absolute; 
    top: -150%; 
    left: -100px; 
    width: 210px; 
    height: 300%; 
    content: ''; 
    -webkit-transform: rotate(25deg); 
    transform: rotate(25deg); 
    background: red;
  } 
  
  h2 span { 
    font-size: 4rem; 
    position: absolute; 
    z-index: 1; 
    top: -10px; 
    left: 0; 
    display: block; 
    padding-top: 0px; 
    padding-left: 16px; 
    color: white; 
  }
  .area1-image1{
    width: 15vw;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 30px 0;
    @include overTab {
      width: 100%;
      height: 18vh;
    }
  }
  .area1-image4{
    width: 15vw;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 40px 0;
    @include overTab {
      width: 100%;
      height: 18vh;
    }
  }
  .area1-image2{
    width: 120px;
    position: absolute;
    left: 65%;
    transform:rotate(10deg);
    z-index: 4;
    box-shadow: 1px 3px 20px 10px rgb(247, 247, 125), inset 10px 3px 20px 10px rgb(247, 247, 125);
    @include overTab {
      width: 300px;     
    }

  }
  .area1-image3{
    width: 110px;
    position: absolute;
    left: 65%;
    transform:rotate(10deg);
    box-shadow: 1px 3px 20px 10px rgb(247, 247, 125), inset 10px 3px 20px 10px rgb(247, 247, 125);
    @include overTab {
      width: 280px;
    }
  }
  .intro-text{
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    text-align: left;
    width: auto;
    padding: 5px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 20px;
    @include overTab {
      width: 750px;
    font-size: 1.5rem;
    }
    .GB1{
      font-size: 1.8rem;
      color:#6cb907;
      @include overTab {
      font-size: 3rem;
      }
    }
    .text-line{
      background-image: linear-gradient(
      rgba(0, 0, 0, 0) 40%,
      yellow 70%
      );
    }
    .GB2{
      font-size: 1.5rem;
      color:#8cc63f;
      @include overTab {
        font-size: 2rem;
      }
    }
    .GB3{
      font-size: 1.5rem;
      color: #63bdde;
      @include overTab {
        font-size: 2rem;
      }
    }
    .GB4{
      font-size: 1.5rem;
      color: #f0aa4c;
      @include overTab {
        font-size: 2rem;
      }
    }
    .GB5{
      font-size: 1.5rem;
      color: #f0aa4c;
      @include overTab {
        font-size: 2rem;
      }
    }
    .GB6{
      font-size: 1.5rem;
      color:#8cc63f;
      @include overTab {
        font-size: 2rem;
      }
    }
    .GB7{
      font-size: 1.5rem;
      color: #63bdde;
      @include overTab {
        font-size: 2rem;
      }
    }
    .GB8{
      font-size: 1.5rem;
      color: #f0aa4c;
      @include overTab {
        font-size: 2rem;
      }
    }
    .price{
      color: #E43E5A;
      font-weight: 900;
      font-size: 1.8rem;
      @include overTab {
        font-size: 2.5rem;
      }
    }
  }
  
  .area1-side{
    @include overTab {
      margin-left: 50px;
    }
  }
  .area1-wrapper{
      @include overTab {
      display: flex;
      justify-content: center;
    }
  }
  .shop-wrapper{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    @include overTab {
      margin-left: inherit;
      margin-right:inherit;
    }
  }
  .shop-in{
    position: relative;
    margin-bottom: 60px;
    border-radius: 30px;
    &::before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 10;
      top: 0px;
      right: 0px;
      border-width: 0 50px 50px 0;
      border-color: transparent rgb(194, 9, 9) transparent transparent;
    }
    &::after{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 10;
      bottom: 10px;
      left: 0px;
      border-width: 50px 0 0 50px;
      border-color: transparent transparent transparent rgb(194, 9, 9);
    }
    .shop-image{
      position: relative;
      width: 200px;
      height: 32vh;
      padding: 10px 10px;
      border-radius: 30px;
      @include overTab {
        width: 30vw;
        height: 32vh;
      }
      
    }
  }
  .customer-wrapper{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    @include overTab {
      margin-left: inherit;
      margin-right:inherit;
    }
  }
  .customer{
    position: relative;
    border-radius: 30px;
    margin:0 auto;
    &::before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 10;
      top: -10px;
      right: 0px;
      border-width: 0 50px 50px 0;
      border-color: transparent rgb(194, 9, 9) transparent transparent;
    }
    &::after{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      z-index: 10;
      bottom: -10px;
      left: 0px;
      border-width: 50px 0 0 50px;
      border-color: transparent transparent transparent rgb(194, 9, 9);
    }
    .customer1{
      width: 30vw;
      height: 35vh;
      // padding: 10px 10px;
    }
  }
  .slick-list{
    margin: 0 auto;
    width: auto;
    border-radius: 30px;
    @include overTab {
      width: 20vw;
    }
  }
  .fukidashi1{
    width: 250px;
    height: 80px;
    top: -30px;
    left: -30px;
    position: absolute;
    z-index: 11;
  }
  .shop-text{
    top: -15px;
    left: 5px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    z-index: 11;
  }
  .fukidashi2{
    width: 250px;
    height: 80px;
    top: -50px;
    position: absolute;
    left: 0px;
    z-index: 11;
    @include overTab {
      left: -30px;
    }
  }
  .customer-text{
    top: -35px;
    left: 25px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    z-index: 11;
    @include overTab {
      left: 5px;
    }
  }
  .balloon1 {
    position: relative;
    display: inline-block;
    margin-top:5rem ;
    // margin: 0 auto;
    padding: 7px 10px;
    width: 100%;
    max-width: 760px;
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    background: yellow;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    @include overTab {
      font-size: 2.5rem;
      width: 100%;
      max-width: 1300px;
    }
    &::before{
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-top: 15px solid yellow;  
    }
    p{
      margin: 0;
      padding: 0;
      text-align: center;
      margin: 0 auto;
      width: auto;
      @include overTab {
        width: 550px;
      }
      
    }
    .text-line{
      background-image: linear-gradient(
      rgba(0, 0, 0, 0) 70%,
      rgba(238, 135, 117, 0.952) 70%
      );
    }
  }  

  .follow-me {
    list-style: none;
    margin: 0 0 -8px;
    margin-bottom: 120px;
    overflow: hidden;
    padding: 0;
    justify-content: center;
    @include overTab {
      margin-bottom: 200px;
    }
  }
  .follow-me li {
    // float: left;
    margin: 0 8px 8px 0;
    padding: 0;
  }
  .follow-me li a::before {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 50px;
    height: 40px; /* Button height */
    line-height: 30px; /* Button height */
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    width: 50px; /* Button width */
    padding-top: 5px;
    @include overTab {
       width: 70px; /* Button width */
       height: 50px; /* Button height */
       line-height: 44px; /* Button height */
    }
  }
  .follow-me li a:hover::before {
    opacity: 0.7;
  }
  .follow-me li a[href*="dropbox.com"]::before        { background-color: #007ee5; content: "\f16b"; }
  .follow-me li a[href*="facebook.com"]::before       { background-color: #3b5998; content: "\f09a"; }
  .follow-me li a[href*="line"]::before               { background-color: #00c300; content: "\f3c0"; }
  .follow-me li a[href*="twitter.com"]::before        { background-color: #55acee; content: "\f099"; }
  .follow-me li a[href*="youtube.com"]::before        { background-color: #cd201f; content: "\f16a"; }
  .follow-me li a[href*="tiktok"]::before              { background-color: #ffa500; content: "\e07b"; }
  .follow-me li a[href*="tel"]::before              { background-color: #e73508; content: "\f098"; }
  
  .tel-btn{
    position: relative;
    display: block;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    background: #e73508;
    padding: 15px 0;
    margin: auto;
    width: 100%;
    font-size: 20px;
    border: 1px white solid;
    @include overTab {
      font-size: 33px;
      width: 40vw;
    }
    &::before{
      content: "";
      background-size: contain;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      left: 15px;
    }
  }
  .line-btn{
    position: relative;
    display: block;
    border-radius: 50px;
    color: white;
    text-align: center;
    background: #00c300;
    padding: 10px 0;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    font-size: 25px;
    border: 1px white solid;
    @include overTab {
      padding: 15px 0;
      font-size: 33px;
      width: 40vw;
    }
    span{
      font-weight: bold;
    }
    &::before{
      content: "";
      background-size: contain;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      left: 15px;
    }
  }
  .profile-area{
    margin: 0 auto;
    margin: 0 5px;
    width: auto;
    max-width: 7600px;
    position: relative;
    @include overTab {
      margin: 0 auto;
      width: 1000px;
      max-width: 1300px;
    }
    .profile-text{
      background-color: #106197;
      box-shadow: 1px 1px 3px 1px;
      border-radius: 30px;
      color: #fff;
      padding: 20px 20px;
      padding-right: 140px;
      font-size: 20px;
      line-height: 1.5;
      @include overTab {
        font-size: 30px;
        padding: 30px 40px;
        padding-right: inherit;
      }
    }
    .profile{
      position: absolute;
      top: 10%;
      width: 130px;
      left: 80%;
      transform: translate(-50%, -50%);
      @include overTab {
        top: -15%;
        left: 70%;
        width: 200px;
      }
    }
  }

}